.all{
    text-align: center;
    width: 50%;
}
.nav-center{
    display: inline-block;
}
ul li{
    display: inline-block;
    text-decoration: none;
}
ul li a{
    
    color: black;
}
.container{
    color: white;
    background:rgb(46, 39, 39) ;
    height: 100px;
    width: 50%;
    
}
.container h2{
    letter-spacing: 5px;
}
button{
    border: 2px solid rgb(2, 2, 38);
    padding:5px 10px 10px 5px  ;
    border-radius: 10px;
}